body {
	background-color: #d2d2d2;
	font-family: 'Roboto', sans-serif;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

[v-cloak] {
  display: none;
}

.wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.no-scroll {
	height: 100vh;
	overflow: hidden;
}

.scroll {
	height: auto;
	overflow: auto;
}

.form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	overflow: hidden;
	max-width: 320px;
	padding: 20px;
}

.form__title {
	font-size: 1.8em;
}

.form__input {
	box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
}

.form__input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.form__label {
	display: inline-block;
	cursor: pointer;
	transition: .3s;
}

.form__label:hover {
	opacity: .7;
}

.form__label--margin {
	margin-bottom: 20px;
}

.form__button {
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 5px;
	transition: .3s;
}

.form__button:hover {
	background-color: #696565;
	color: #fff;
}

.user-list {
	list-style: none;
	overflow: hidden;
	padding-left: 0;	
}

.user-list__item {
	display: flex;
	position: relative;	
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	cursor: pointer;
	transition: .3s;
	padding-left: 0;
}

.user-list__item:hover {
	opacity: .7;
	text-decoration: underline;
}

.user-list__img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.form__warning {
	color: coral;
}

.users-sublist {
	position: absolute;	
	background-color: #fff;
	top: 0;	
	left: 0;
	transform: translateY(-100%);
	transition: .3s;	
}

.users-sublist--active {
	top: 7px;	
	left: 0;
	transform: translateY(0);	
}

.details {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.details__body {
	position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	max-width: 320px;
	overflow: hidden;
}

.close-btn {
	position: absolute;
	background-color: transparent;
	font-size: 20px;
	cursor: pointer;
	border: none;
	transition: .3s;
	top: 12px;
	right: 20px;
}

.close-btn:hover {
	opacity: .5;
}

.details__title {
	text-align: center;
}

.details__img {
	display: block;
	margin: 0 auto;
	width: 200px;
	border-radius: 50%;
	text-align: center;
}

.loader-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #d2d2d2;
	z-index: 100;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  top: 50%;
  margin-top: -50px;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #d2d2d2;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}